'.source.js,javascript':
  '当前用户':
    'prefix': 'bcurrent'
    'body': """
			let currentUser = Bmob.User.current()
      if (currentUser){
        // do stuff with the user
        $1
      } else {
        // show the signup or login page
        $2
      }
		"""
    'description': '用户->当前用户'
    'descriptionMoreURL': 'http://doc.bmob.cn/data/wechat_app/develop_doc/#_58'
  '微信小程序一键登录':
    'prefix': 'bauth'
    'body': """
      let user = new Bmob.User() //实例化用户对象
      user.auth()
    """
    'description': '登录注册集合类'
    'descriptionMoreURL': 'http://doc.bmob.cn/data/wechat_app/develop_doc/#_57'
  '退出登录':
    'prefix': 'blogout'
    'body': """
      Bmob.User.logOut()
    """
    'description': '用户->当前用户'
    'descriptionMoreURL': 'http://doc.bmob.cn/data/wechat_app/develop_doc/#_58'
	'更新前端用户缓存':
		'prefix': 'bsaveCurrentUser'
		'body': """
			let currentUser = Bmob.User.current()
			currentUser.set('${1:key}',${2:value})
			Bmob.User._saveCurrentUser(currentUser)
		"""
  '获取用户openid':
    'prefix': 'brequestOpenId'
    'body': """
      Bmob.User.requestOpenId(res.code).then(res => {
        console.log(res)
      },err => {
        console.log(err)
      })
    """
    'description': ''
    'descriptionMoreURL': ''
