'.source.js':
  'Bmob全局初始化':
    'prefix': 'binit'
    'body': """
      import Bmob from './utils/bmob.js'
      const ApplicationId = '$1'
      const ApiKey = '$2'
      Bmob.initialize(ApplicationId, ApiKey)
      $3
    """
    'description': '下载和安装BmobSDK'
    'descriptionMoreURL': 'http://doc.bmob.cn/data/wechat_app/#bmobsdk'
  '页面中引入Bmob对象':
    'prefix': 'bmob'
    'body': """
      import Bmob from '../../utils/bmob.js';
    """
    'description': '下载和安装BmobSDK'
    'descriptionMoreURL': 'http://doc.bmob.cn/data/wechat_app/#bmobsdk'
  '初始化Websoket通讯':
    'prefix': 'bmobwebsocket'
    'body': """
      const BmobSocketIo = require('utils/bmobSocketIo.js').BmobSocketIo;
      BmobSocketIo.initialize(ApplicationId);
    """
    'description': 'WebSocket 通讯（聊天）'
    'descriptionMoreURL': 'http://doc.bmob.cn/data/wechat_app/index.html#websocket'
  '对应页面引入BmobSocketIo':
    'prefix': 'bmobsocketio'
    'body': """
      const BmobSocketIo = require('../../${1:../}utils/bmobSocketIo.js').BmobSocketIo;
    """
    'description': 'WebSocket 通讯（聊天）'
    'descriptionMoreURL': 'http://doc.bmob.cn/data/wechat_app/index.html#websocket'
  '在页面进入第一次时初始化BmobSocketIo':
    'prefix': 'bmobsocketioinit'
    'body': 'BmobScoketIo.init();'
    'description': 'WebSocket 通讯（聊天）'
    'descriptionMoreURL': 'http://doc.bmob.cn/data/wechat_app/index.html#websocket'
  '创建Bmob.Object的子类_Article':
    'prefix': 'barticle'
    'body': """
      let $1 = Bmob.Object.extend('_Article');
    """
    'description': '使用图文素材'
    'descriptionMoreURL': 'http://doc.bmob.cn/data/wechat_app/develop_doc/#_6'
